*{margin:0;padding:0}h1,h2,h3,h4,h5,p,li,a{font-size:14px;font-weight:normal}button,img{border:0}body{font-family:Arial, sans-serif;}

#container {
  margin:0 auto;
}

#app {
  width:100%;
}

#container, #app canvas {
  max-width:800px;
  max-height:640px;
  /* width:100%; */
}

h1 {
  font-size:1.8em;
  font-weight:bold;
}

h1, p {
  text-align:center;
  margin:1.2em;
}

#app {
  cursor:url('../images/crosshair.png'), auto;
}

@media screen and (max-width:800px) {
  h1, p {
    display:none;
  }
}