!!!5
%html
  %head
    %title GGJ - Shooter
    = stylesheet_link_tag "all.css"
    :javascript
      window['Entities'] = {}
    = javascript_include_tag "app"
  %body
    %h1 Global Game Jam Entry
    %p Aaron McLeod, Anthony Wong, Evan Doherty, Tyler Akey
    #app