!!!5
%html
  %head
    %title GGJ - Shooter
    %meta{ :name => "viewport", :content => "width=device-width, minimum-scale=1.0" }
    = stylesheet_link_tag "all.css"
    :javascript
      window['Entities'] = {}
      window['HUD'] = {}
      window['Screens'] = {}
    = javascript_include_tag "app"
  %body
    %h1 Global Game Jam Entry
    %p 
      %a{ :href => "http://twitter.com/agmcleod", :target => "_blank" } Aaron McLeod
      ,
      %a{ :href => "http://www.mranthonywong.com", :target => "_blank"} Anthony Wong
      ,
      %a{ :href => "", :target => "_blank" } Evan Doherty
      ,
      %a{ :href => "http://www.tasoundworks.ca", :target => "_blank" } Tyler Akey
    #app